.actions {
	margin: 32px 16px;
	text-align: left;
	font-size: 0.7rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.selectedCount {
	font-weight: bold;
	margin-left: 3px;
}

.actionIcon {
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin-left: 12px;
}
